<!-- <div id="container">
  <strong>{{ name }}</strong>
  <p>
    Explore
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://ionicframework.com/docs/components"
      >UI Components</a
    >
  </p>
</div> -->
<ion-content [fullscreen]="true">
  @for (project of projects; track $index) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ project.title }}</ion-card-title>
      <ion-card-subtitle>{{ project.subtitle }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{ project.description }}
    </ion-card-content>
  </ion-card>
  }
</ion-content>
