<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="projects" href="/dashboard/projects">
      <ion-icon aria-hidden="true" name="folder-outline"></ion-icon>
      
      <ion-label>Proyectos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="document-outline"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/dashboard/profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
