.task-image {
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .placeholder {
    text-align: center;
    color: #888;
    ion-icon {
      font-size: 3rem;
    }
  }
}

.project-card {
  cursor: pointer;
  &:hover {
    background-color: var(--ion-color-light);
  }
}

.actions {
  margin: 16px;
  ion-button {
    margin-bottom: 8px;
  }
}

.placeholder {
  color: #aaa;
  font-style: italic;
}

.assignees {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;

  .assignee {
    text-align: center;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-bottom: 8px;
    }
  }
}
