<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="color-light">Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Filtros -->
  <div class="filter-container">
    @for (status of statusFilters; track $index) {
    <ion-chip
      [outline]="activeStatusFilter !== status"
      [color]="activeStatusFilter === status ? getBadgeColor(status) : 'medium'"
      (click)="setFilter(status)"
      (keydown)="(null)"
    >
      <ion-label>{{ status }}</ion-label>
    </ion-chip>
    }
  </div>

  <!-- Lista de Tareas -->
  @for (task of filteredTasks; track $index) {
  <ion-card class="task-card">
    <ion-card-header>
      <ion-card-title>{{ task.title }}</ion-card-title>
      <ion-card-subtitle>
        <ion-icon
          [name]="getStatusIcon(task.status)"
          [color]="getBadgeColor(task.status)"
        ></ion-icon>
        <ion-badge [color]="getBadgeColor(task.status)">{{
          task.status
        }}</ion-badge>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Project:</strong> {{ task.project }}</p>
      <p><strong>Priority:</strong> {{ task.priority }}</p>
    </ion-card-content>
  </ion-card>
  }
</ion-content>
