.project-status {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

ion-progress-bar {
  margin-top: 10px;
}

ion-card-content p {
//   text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

ion-list ion-item {
  margin-bottom: 10px;
}
